* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #18132f;
}

.topnav {
  background-color: rgb(104, 104, 104);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

h1 {
  text-align: center;
  background-color: rgb(223, 223, 223);
  font-weight: 900;
  padding: 10px 0;
}

.box2 {
  width: 91%;
  margin: auto;
  padding: 12px;
  border: 4px solid rgb(169, 230, 195);
  background-color: #f9f9f9;
}

.box2 p {
  font-weight: 300;
  line-height: 1.6;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.section span {
  font-size: 20px;
  font-weight: bold;
}

.section ul {
  padding-left: 20px;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

details p {
  margin-left: 20px;
  margin-top: 5px;
}

.logo {
  width: 23px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #dadada;
  margin-top: 40px;
}
